{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<div id="content" class="container">
    <h2>{{ title }}</h2>
    <hr>
    <h4>Вы собираетесь удалить домашнее задание:</h4>
    <h3>{{ hw.title }} / {{ hw.author}} / {{hw.published}}</h3>
    <h4>Подтвердите удаление</h4>
    <form action="/educational_materials/delete{{ hw.id }}" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить" class="btn btn-danger btn-md" style="width: 200px">
    </form>
    <a href="/educational_materials">Вернуться к списку</a>
    <hr>
</div>
{% endblock content %}