{% extends 'layouts/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}
<body class="text-center">

    <link href="{%static 'css\signin.css'%}" rel="stylesheet">
    <div id="content" class="container" style="padding-top: 60px;padding-bottom: 100px;">
        <h2>{{ title }}</h2>
        <hr>
        <h4>Вы собираетесь удалить домашнее задание:</h4>
        <br>
        <h3>{{ work.title }}</h3>
        <br>
        <h4>Подтвердите удаление</h4>
        <p></p>
        <form action="/educational_materials/delete/{{ work.id }}" method="post">
            {% csrf_token %}
            <input type="submit" value="Удалить" class="btn btn-danger btn-md" style="width: 200px">
        </form>
        <br>
        <a href="/educational_materials/" style="padding-bottom: 5px;">Вернуться к списку</a>
    </div>
</body>
{% endblock content %}