{% extends 'layouts/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}
<div id="content" class="container" style="padding-top: 60px;padding-bottom: 100px;">

    <hr>
    <h2 style="text-align: center; ">{{ title }}</h2>
    <hr>
    <hr>
    <div class="text-left">
        <img src="/media/{{ work.image }}" class="img" width="50px" align="left" style= "margin-right: 40px;">
        <h4 style="padding-top: 5px;">{{ work.title }}</h4>
        <h5>{{ work.about }}</h5>

        <h4 class="text-left" style="padding-top: 30px; padding-left: 60px;">{{ work.content }}</h4>

        {% if login == Content_manager %}
            <div style="padding-top:20px; padding-left: 60px;">
                <a href="/educational_materials/edit/{{ work.id }}" class="card-link">Редактор</a>
                <a href="/educational_materials/delete/{{ work.id }}" class="card-link">Удалить</a>

        {% endif %}
                <a href="/educational_materials" class="card-link" >Вернуться к списку заданий </a>
            </div>
        </div>
</div>


{% endblock content %}
