{% extends 'layouts/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}
<div id="content" class="content">
    <div class="container">
        <h2>{{ title }}</h2>
        <hr>
        {% if user == 'temp_admin'%}
            <a href="/educational_materials/create">Добавить домашнее задание</a>
        {% endif %}
        {% for hw in create_hw %}
        <div id="block_v1">
            <header>{{ hw.title }}</header>
            <main>
                <img src="/media/{{ hw.image }}" align="left" style="margin:20px;" width="85" height="85">
                {{ hw.content }}
                <div style="clear:Left"></div>
            </main>
            <footer><a href="{{ hw.source }}" target="_blank">{{ hw.source }}</a>
                        |
                        <a href="/educational_materials/details/{{ hw.id }}">Details</a>
                {% if user == 'temp_admin' %}
                        |
                        <a href="/educational_materials/edit/{{ hw.id }}">Edit</a>
                        |
                        <a href="/educational_materials/delete/{{ hw.id }}">Delete</a>
                        |
                {% endif %}</footer>
        </div>
        {% endfor %}
       <!-- <div id="teble_v1">
            <table>
                <tr>
                {% if user == 'moder1' %}
                    <th>Публикация</th>
                {% endif %}
                    <th>Картинка</th>
                    <th>Описание</th>
                    <th>Задание</th>
                    <th>Ссылки</th>
                    <th>Файлы</th>
                    <th>Manage</th>

                </tr>
                {% for hw in create_hw %}
                <tr>
                {% if user == 'moder1' %}
                    <td>{{ hw.published }}</td>
                {% endif %}
                    <td class="td1" >
                        <img src="/media/{{ hw.image }}" width="100" height="85">
                    </td>
                    <td class="td2">{{ hw.title }}</td>
                    <td class="td3">{{ hw.content }}</td>
                    <td class="td4">
                        <a href="{{ hw.source }}" target="_blank">{{ hw.source }}</a>
                    </td>
                    <td class="td5">{{ hw.file }}</td>

                    <td class="td6">
                        |
                        <a href="/educational_materials/details/{{ hw.id }}">Details</a>
                {% if user == 'temp_admin' %}
                        |
                        <a href="/educational_materials/edit/{{ hw.id }}">Edit</a>
                        |
                        <a href="/educational_materials/delete/{{ hw.id }}">Delete</a>
                        |
                {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
            </div> -->
    </div>
<style>
#block_v1 {
    border:1px solid lightgrey;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

.form-group input{
    width: 50%;
    height: 30px;
}
.form-group textarea {
    width: 50%;
}
#b1, #b2 {
    width: 185px;
}
</style>
<!--    <div class="pagination" style="margin-top: 20px">-->
<!--        <span class="step-links">-->
<!--            {% if page_obj.has_previous %}-->
<!--                <a href="?page=1">&laquo; first</a>-->
<!--                <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--            {% endif %}-->
<!--            <span class="current">-->
<!--                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--            </span>-->

<!--            {% if page_obj.has_next %}-->
<!--                <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>-->
<!--            {% endif %}-->
<!--        </span>-->
<!--    </div>-->
    <br>
    <hr>
</div>

<script>
	var el = document.querySelector('.main-menu #li4');
	el.classList.add("active");
<!--el.className += 'active';-->
</script>
{% endblock content %}