{% extends 'layouts/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}

    <div class="col-sm-6">
        <h2>{{ title }}</h2>
        <hr>
            {% if user == 'Content_manager'%}
            <a href="/educational_materials/create">Добавить домашнее задание</a>
            {% endif %}

                {% for hw in create_hw %}
                <div class="card" style="width: 18rem;">
                    <img src="/media/{{ hw.image }}" class="card-img-top" >
                    <header class="card-header">{{ hw.title }}</header>
                    <main class="card-body">
                        {{ hw.content }}
                        |
                        <a href="{{ hw.source }}" target="_blank">{{ hw.source }}</a>
                    </main>
                    <footer class="card-footer">
                        |
                        <a href="/educational_materials/details/{{ hw.id }}">Details</a>
                        |
                        {% if user == 'Content_manager' %}
                        <a href="/educational_materials/edit/{{ hw.id }}">Edit</a>
                        |
                        <a href="/educational_materials/delete/{{ hw.id }}">Delete</a>
                        |
                        {% endif %}
                    </footer>
                </div>
        {% endfor %}
       <!-- <div id="teble_v1">
            <table>
                <tr>
                {% if user == 'moder1' %}
                    <th>Публикация</th>
                {% endif %}
                    <th>Картинка</th>
                    <th>Описание</th>
                    <th>Задание</th>
                    <th>Ссылки</th>
                    <th>Файлы</th>
                    <th>Manage</th>

                </tr>
                {% for hw in create_hw %}
                <tr>
                {% if user == 'moder1' %}
                    <td>{{ hw.published }}</td>
                {% endif %}
                    <td class="td1" >
                        <img src="/media/{{ hw.image }}" width="100" height="85">
                    </td>
                    <td class="td2">{{ hw.title }}</td>
                    <td class="td3">{{ hw.content }}</td>
                    <td class="td4">
                        <a href="{{ hw.source }}" target="_blank">{{ hw.source }}</a>
                    </td>
                    <td class="td5">{{ hw.file }}</td>

                    <td class="td6">
                        |
                        <a href="/educational_materials/details/{{ hw.id }}">Details</a>
                {% if user == 'temp_admin' %}
                        |
                        <a href="/educational_materials/edit/{{ hw.id }}">Edit</a>
                        |
                        <a href="/educational_materials/delete/{{ hw.id }}">Delete</a>
                        |
                {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
            </div> -->
    </div>
<style>
.card-img-top  {

}

</style>


<!--    <div class="pagination" style="margin-top: 20px">-->
<!--        <span class="step-links">-->
<!--            {% if page_obj.has_previous %}-->
<!--                <a href="?page=1">&laquo; first</a>-->
<!--                <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--            {% endif %}-->
<!--            <span class="current">-->
<!--                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--            </span>-->

<!--            {% if page_obj.has_next %}-->
<!--                <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>-->
<!--            {% endif %}-->
<!--        </span>-->
<!--    </div>-->
    <br>
    <hr>
</div>

<script>
	var el = document.querySelector('.main-menu #li4');
	el.classList.add("active");
</script>
{% endblock content %}