
{% extends 'layouts/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}

<div class="container">
<hr>
<h2 style="text-align: center; ">{{ title }}</h2>
<hr>
<hr>
    {% if login == Content_manager %}
        <a href="/educational_materials/create">Добавить домашнее задание</a>
    {% endif %}
    <div class="card-group">
        <hr>
        {% for hw in create_hw %}
            <div class="col-4">
                <div class="card" >
                    <img src="/media/{{ hw.image }}" class="card-img-top" style="width: 5rem; height: 5.2rem; padding:7px;">
                    <header class="card-header">{{ hw.topic }}</header>
                    <main class="card-body">

                        {{ hw.about }}

                        <a href="{{ hw.file }}" target="_blank" class="card-link" download={{hw.file}}>{{ hw.file }}</a>)

                        <hr>
                        <a href="{{ hw.source }}" target="_blank" class="card-link">{{ hw.source }}</a>

                    </main>
                    <footer class="card-footer">
                            <a href="/educational_materials/details/{{ hw.id }}" class="card-link" >Подробнее</a>
                        {% if login == Content_manager %}
                            <a href="/educational_materials/edit/{{ hw.id }}" class="card-link">Редактор</a>
                            <a href="/educational_materials/delete/{{ hw.id }}" class="card-link">Удалить</a>
                        {% endif %}
                    </footer>
                </div>
            </div>
        {% endfor %}
        <hr>
    </div>

</div>

<!--    <div class="pagination" style="margin-top: 20px">-->
<!--        <span class="step-links">-->
<!--            {% if page_obj.has_previous %}-->
<!--                <a href="?page=1">&laquo; first</a>-->
<!--                <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--            {% endif %}-->
<!--            <span class="current">-->
<!--                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--            </span>-->

<!--            {% if page_obj.has_next %}-->
<!--                <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>-->
<!--            {% endif %}-->
<!--        </span>-->
<!--    </div>-->
    <br>
    <hr>
</div>

<script>
	var el = document.querySelector('.main-menu #li4');
	el.classList.add("active");
</script>
{% endblock content %}