
{% extends 'layouts/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}

	<div class="site-breadcrumb">
		<div class="container">
			<a href="#"><i class="fa fa-home"></i> Главная </a> <i class="fa fa-angle-right"></i>
			<span>Contact</span>
		</div>
	</div>
	<section class="contact-page spad pt-0">
		<div class="container">
			<div class="map-section">
				<div class="contact-info-warp">
					<div class="contact-info">
						<h4>Адресс</h4>
						<p>пр. Мира 52, г.Кривой Рог, Украина</p>
					</div>
					<div class="contact-info">
						<h4>Телефон</h4>
						<p>(+88) 111 555 666</p>
					</div>
					<div class="contact-info">
						<h4>E-mail</h4>
						<p>infodeercreative@gmail.com</p>
					</div>
					<div class="contact-info">
						<h4>Рабочее время</h4>
						<p>Понедельник - Пятница: 08 AM - 06 PM</p>
					</div>
				</div>
				<!-- Google map -->
				<div class="map" id="map-canvas">
					<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d1337.236351355882!2d33.38771384113922!3d47.90789037712661!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m3!3m2!1d47.907735699999996!2d33.388550699999996!4m0!5e0!3m2!1sru!2sua!4v1590673813804!5m2!1sru!2sua"
					width="1100" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
				</div>

			<div class="contact-form spad pb-0">
				<div class="section-title text-center">
					<h3>Оставайтесь на связи</h3>
					<p>Свяжитесь с нами для лучших предложений</p>
				</div>
				<form class="comment-form --contact">
					<div class="row">
						<div class="col-lg-4">
							<input type="text" placeholder="Ваше Имя">
						</div>
						<div class="col-lg-4">
							<input type="text" placeholder="Email">
						</div>
						<div class="col-lg-4">
							<input type="text" placeholder="Тема">
						</div>
						<div class="col-lg-12">
							<textarea placeholder="Сообщение"></textarea>
							<div class="text-center">
								<button class="site-btn">Отправить</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

<!--	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>-->
	<script src="{% static 'js/map.js' %}"></script>
<script>
	var el = document.querySelector('.main-menu #li4');
	el.classList.add("active");
<!--el.className += 'active';-->
</script>
{% endblock content %}

