
{% extends 'layouts/base2.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}

  <nav class="nav-section">
		<div class="container">
			<div class="nav-right">
				<a href="/accounts/sign_up">Регистрация<i></i></a>
				<a style="background:#f6783a;" href="/accounts/sign_in">Вход<i class="sign_in"></i></a>
			</div>
			<ul class="main-menu">
				<li><a href="/home/">Главная</a></li>
				<li><a href="/home/about">О нас</a></li>
				<li><a href="/home/blog">Блог</a></li>
				<li><a href="/home/contact">Контакты</a></li>
			</ul>
		</div>
	</nav>

  <link href="{%static 'css\signin.css'%}" rel="stylesheet">

  <body class="text-center">
    <form class="form-signin">
      {% csrf_token %}

      <img class="mb-4" src="{%static 'img\logo3.png'%}" alt="" width="632" height="140">

      <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>


      <input type="text" id="inputUsername" class="form-control" placeholder="Имя пользователя" style="padding-bottom:10px;" required autofocus><br>

      <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="Запомнить"> Запомнить
        </label>
      </div>
      <button id="signin" class="btn btn-lg btn-danger btn-block" type="submit">Вход</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

    </form>
  </body>

{% endblock content %}