
{% extends 'layouts/base2.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}
  <link href="{%static 'css\signin.css'%}" rel="stylesheet">

  <body class="text-center">
    <form class="form-signin" id="form2" action="/accounts/sign_in" method="post">
      {% csrf_token %}

      <img class="mb-4" src="{%static 'img\logo3.png'%}" alt="" width="632" height="140">

      <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>

      <input type="text" id="login" name="login" class="form-control" placeholder="Имя пользователя" style="padding-bottom:10px;" required >
        <br>
      <input type="password" id="inputPassword" name="pass1" class="form-control" placeholder="Пароль" required>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="a3"> Запомнить
        </label>
      </div>
      <input type="submit" value="Войти" class="btn btn-danger btn-md" style="width: 185px">
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
<script src="{% static 'js/sign_up.js' %}"></script>

  </body>

{% endblock content %}