{% load static %}
<div id="preloder">
		<div class="loader"></div>
</div>

	<!-- header section -->
<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a href="index" class="site-logo"><img src="{%static 'img\logo4.png'%}" alt="Logo"></a>
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<div class="header-info">
				<div class="hf-item">
					<i class="fa fa-clock-o"></i>
					<p><span>Рабочее время:</span>Понедельник - Пятница: 08 AM - 06 PM</p>
				</div>
				<div class="hf-item">
					<i class="fa fa-map-marker"></i>
					<p><span>Найти нас:</span>пр. Мира 52, г.Кривой Рог, Украина</p>
				</div>
			</div>
		</div>
	</header>
	<!-- header section end-->
