{% load static %}
<nav class="nav-section">
		<div class="container">
			<div class="nav-right">
				<a href="">Регистрация<i class="reg"></i></a>
				<a href="">Вход<i class="sign_in"></i></a>
			</div>
			<ul class="main-menu">
				<li class="active"><a href="index.html">Главная</a></li>
				<li><a href="/home/about">О нас</a></li>
				<li><a href="#">Событие</a></li>
<!--				<li><a href="course.html">COURSES</a></li>-->
				<li><a href="blog.html">Блог</a></li>
				<li><a href="contact.html">Контакты</a></li>
			</ul>
		</div>
	</nav>

