{% extends 'layouts/base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% load static %}

{% block content %}

<style>
    #btn_save {
        display:inline-block;
    }
    .Users {
        padding-left: 150px;
    }
    .Users th, .Users td {
        padding: 5px 10px;
        text-align: center;
    }

</style>
<hr>
<h2 style="text-align: center; ">{{ title }}</h2>
<hr>
<hr>

<body class="bg-light">

    <div class="col-md-5 mb-3">
        <label for="groups">Сменить группу для выбранных студентов</label>
        <select class="custom-select d-block w-100" id="groups" required>
            <option value="">Выбери...</option>
            <option>Gpoup1</option>
            <option>GpoupAvia</option>
            <option>GpoupIt</option>
            <option>GpoupChild</option>

        </select>
            <button id="btn_save" class="btn btn-warning" type="submit">Сохранить</button>
            <div class="invalid-feedback">
                Пожалуйста выберите группу для выбранных студентов
            </div>

    </div>

    <div class='container'>
        <table class="table" >
            <tr>
                <th scope="col"></th>
                <th scope="col">id</th>
                <th scope="col">Логин</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Email</th>
                <th scope="col">Группа</th>
                <th scope="col">Группа</th>
            </tr>
        {% for users in page_obj %}
            <tr>
                <td scope="col"><label><input type="checkbox" name="key" class="checkbox" ></label></td>
                <td scope="col">{{ users.id }}</td>
                <td scope="col">{{ users.username }}</td>
                <td scope="col">{{ users.first_name }}</td>
                <td scope="col">{{ users.last_name }}</td>
                <td scope="col">{{ users.email }}</td>
                <td scope="col">{{ groups }}</td>
                {% for i in groups %}
                    {%if i == groups %}
                <td scope="col">{{ i }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>

    </div>
        <div class="pagination" style="margin-top: 20px">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </span>
    </div>

    <script>
	var el = document.querySelector('.main-menu #li1_3, #li1_4, #li1_2');
	el.classList.add("active");
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <script src="{% static 'js/form-validation.js' %}"></script>


{% endblock content %}
